doctype html
html(lang="en")
    head
        title= pageTitle
        script(src='./node_modules/babylonjs/babylon.max.js')
        link( rel='stylesheet' type='text/css' href='css/styles.css')
    body
        h1
        | asfasdf111